/* general style */
body {
  font-family: "Armata", sans-serif;
  font-size: 1.2em;
  margin: 0;
  background-color: pink;
}

h1 {
  text-align: center;
  margin: 60px;
}

h3 {
  text-align: center;
  padding-top: 25px;
}

main {
  max-width: 1200px;
  margin: 0px auto;
  padding: 15px;
  background-color: white;
  width: 75%;
}

/* specific style */
/* Div container with 2 boxes inside: One label and one input*/
.control-container {
  display: flex;
  margin: 1em;
  align-items: baseline;
}

/*style all the label*/
.label {
  text-align: right;
  padding-right: 1em;
  width: 50%;
}

.label-top {
  align-self: flex-start;
}

/*style all the input*/
.control {
  width: 25%;
}

input[type="checkbox"],
input[type="radio"] {
  height: 1.5em;
  width: 2em;
}

select {
  width: 70%;
  height: 3em;
}

input[type="text"] {
  height: 3em;
  width: 70%;
}

textarea {
  height: 10em;
  width: 90%;
}

/*submit-button*/
.container-button {
  display: flex;
  justify-content: center;
}

.submit-button {
  background-color: #e059d9;
  border-radius: 4px;
  color: white;
  font-size: 1em;
  height: 40px;
  width: 96px;
  margin: 10px;
  border: 0px solid;
}

/* This query was necessary for changing the size of the elements on mobile cellphone*/
@media only screen and (max-width: 800px) {
  .control-container {
    flex-direction: column;
  }

  .label {
    text-align: left;
    width: 100%;
  }

  .control {
    width: 100%;
  }
}